.emailPassword-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card-email-verify {
  margin-top: 300px !important;
  width: 400px;
  background: #17181e !important;
  margin: auto;
  box-shadow: none !important;
  border-radius: 14px;
  color: #ffffff !important;
  border: 0.5px solid #17181e;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  .MuiInputLabel-root {
    color: #ffffff;
    font-family: "Source Sans 3";
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 5px;
  }
}
.dont-acc-txt {
  color: #4f4f4f;
  font-size: 16px;
  font-family: Rethink Sans;
  font-weight: 400;
  line-height: 20.8px;
}
.reg-txt {
  color: #3c66fa;
  font-size: 16px;
  font-family: Rethink Sans;
  font-weight: 500;
  line-height: 20.8px;
  margin-left: auto;
}
.reg-dont-txt-div {
  display: flex;
  align-items: baseline;
  width: 300px;
  margin: auto;
  margin-top: 14px;
}
.otp-input {
  width: 46px !important;
  height: 50px;
  border-radius: 10px;
  // border: 1px solid #aaaaaa;
  margin-right: 12.5px;
  color: #ffffff;
  font-size: 24px;
  font-family: Rethink Sans;
  font-weight: 500;
  line-height: 28.8px;
  background-color: #17181e;
  border: 1.5px solid #30303d;
}
.otp-input-error {
  width: 46px !important;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #c80a15;
  margin-right: 12.5px;
  color: #ffffff;
  font-size: 24px;
  font-family: Rethink Sans;
  font-weight: 500;
  line-height: 28.8px;
  background-color: #17181e;
  border: 1.5px solid #30303d;
}
.h4-e-verify-title {
  color: #ffffff;
  font-size: 32px;
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: 28.27px;
  margin-top: 10px;
}
.h3-e-verify-title {
  color: #4b5563;
  font-size: 16px;
  font-family: Rethink Sans;
  font-weight: 600;
  line-height: 20.83px;
  margin-top: -10px;
}
.p-tag-e-verify {
  color: #DADADA;
  font-size: 16px;
  font-family: "Source Sans 3";
  font-weight: 400;
  line-height: 22.4px;
  // margin-top: -24px;
}
.p-tag-sms {
  color: #7a8c9f;
  font-size: 14px;
  font-family: Rethink Sans;
  font-weight: 400;
  line-height: 19.6px;
  margin-top: 28px;
  margin-bottom: 0px;
  text-align: center;
}
.p-tag-timer {
  color: #7a8c9f;
  font-size: 14px;
  font-family: Rethink Sans;
  font-weight: 400;
  line-height: 19.6px;
  margin: 0px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}
.set-btn-txt {
  display: flex;
  margin-top: 33px;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-email-return {
  height: 40px;
  width: 49%;
  border-radius: 10px;
  text-transform: math-auto;
}
.btn-email-verify {
  height: 40px;
  width: 48%;
  border-radius: 10px;
  text-transform: math-auto;
}
.verify-txt {
  color: #374151;
  font-size: 14px;
  font-family: Rethink Sans;
  font-weight: 500;
  line-height: 19.6px;
  margin-top: 24px;
}
.sub-set-returnTxt {
  cursor: pointer;
  h5 {
    color: #4b5563;
    font-size: 14px;
    font-family: Rethink Sans;
    font-weight: 500;
    line-height: 16.49px;
    margin-top: 24px;
    margin-left: 8px;
  }
}
.set-btn-txt {
  align-items: center;
}
.p-tag-msg {
  color: #c80a15;
  font-size: 14px;
  font-family: Rethink Sans;
  font-weight: 400;
  line-height: 18.23px;
  margin-left: 6px;
}
.set-div-valid {
  display: flex;
  margin-top: -14px;
  align-items: center;
}
.label-login {
  color: #ffffff;
  font-size: 14px;
  font-family: "Source Sans 3";
  font-weight: 400;
  line-height: 22.4px;
  display: block;
  margin-bottom: 7px !important;
}
.h4-change-email {
  color: #8854c0 !important;
  font-size: 16px !important;
  font-family: "Source Sans 3";
  font-weight: 400 !important;
  line-height: 24px !important;
  margin-top: 10px;
  cursor: pointer;
}
.btn-login {
  margin-top: 20px;
  color: #ffffff;
  border-radius: 25px;
  font-size: 14px;
  font-family: "Source Sans 3";
  font-weight: 400;
  line-height: 20.8px;
}
.input-box {
  .MuiOutlinedInput-root {
    border-radius: 10px !important;
    border: 1.5px solid #30303d;
    height: 48px;
    background-color: #1d1e26;
    margin-top: -5px;
  }
  .MuiOutlinedInput-root:focus {
    border-color: #ce4b4b !important;
    border: 3px solid red;
  }
  .MuiOutlinedInput-root {
    input {
      padding-top: 15px;
      color: #ffffff;
      font-family: Rethink Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
    }

    input::placeholder {
      color: #b6c0cb;
      font-family: Rethink Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      margin-top: 14px;
    }
  }
}

.p-tag-e-password {
  color: #dadada;
  font-size: 16px;
  font-family: "Source Sans 3";
  font-weight: 400;
  line-height: 22.4px;
  margin-top: -24px;
}
