.password-reset-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card-password-reset {
  .MuiInputLabel-root {
    color: #ffffff;
    font-family: "Source Sans 3";
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 5px;
  }
}
.card-password-reset {
  margin-top: 200px !important;
  width: 400px;
  background: #17181e !important;
  margin: auto;
  box-shadow: none !important;
  margin-top: 40px;
  border-radius: 14px;
  color: #ffffff !important;
  border: 0.5px solid #17181e;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.input-box {
  .MuiOutlinedInput-root {
    border-radius: 10px !important;
    border: 1.5px solid #30303d;
    height: 48px;
    background-color: #1d1e26;
  }
  .MuiOutlinedInput-root:focus {
    border-color: #ce4b4b !important;
    border: 3px solid red;
  }
  .MuiOutlinedInput-root {
    input {
      padding-top: 15px;
      color: #ffffff;
      font-family: "Source Sans 3";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    input::placeholder {
      color: #b6c0cb;
      font-family: Rethink Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}
.p-tag-password-reset {
  color: #4b5563;
  font-size: 16px;
  font-family: Rethink Sans;
  font-weight: 400;
  line-height: 22.4px;
  margin-top: -24px;
}
.h4-password-reset-title {
  color: #4b5563;
  font-size: 24px;
  font-family: Rethink Sans;
  font-weight: 500;
  line-height: 28.27px;
}
.password-reset-forget-set {
  margin-top: 6px;
  height: 18px;
  display: flex;
  align-items: center;
  .check-remember {
    color: #006ef1;
  }
  .forget-txt {
    margin-left: auto;
    color: #006ef1;
    font-size: 14px;
    font-family: Rethink Sans;
    font-weight: 500;
    line-height: 19.6px;
  }
  .rember-txt {
    color: #374151;
    font-size: 14px;
    font-family: Rethink Sans;
    font-weight: 400;
    line-height: 19.6px;
  }
}
.check-remember {
  svg {
    width: 18px;
    height: 18px;
    color: #006ef1;
  }
}
.btn-password-reset {
  margin-top: 20px;
  color: #ffffff;
  border-radius: 25px;
}
.dont-acc-txt {
  color: #4f4f4f;
  font-size: 16px;
  font-family: Rethink Sans;
  font-weight: 400;
  line-height: 20.8px;
}
.reg-txt {
  color: #3c66fa;
  font-size: 16px;
  font-family: Rethink Sans;
  font-weight: 500;
  line-height: 20.8px;
  margin-left: auto;
}
.reg-dont-txt-div {
  display: flex;
  align-items: baseline;
  width: 300px;
  margin: auto;
}
.p-tag-msg {
  color: #c80a15;
  font-size: 14px;
  font-family: Rethink Sans;
  font-weight: 400;
  line-height: 16.8px;
  margin-left: 6px;
}
.set-div-valid {
  display: flex;
  margin-top: -14px;
  align-items: center;
}
